<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>factoring004</name>
    <displayName><![CDATA[Рассрочка 0-0-4]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Купи сейчас, плати потом! Быстрое и удобное оформление рассрочки на 4 месяца без первоначальной оплаты. Моментальное подтверждение, без комиссий и процентов. Для заказов суммой от 6000 до 200000 тг.]]></description>
    <author><![CDATA[BNPL Team]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Вы действительно хотите удалить платежный модуль Рассрочка 0-0-4?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>